.card {
  background-color: var(--color-white);
  padding: 6rem;
  border-radius: 1rem;
}

.card:not(:last-child) {
  margin-bottom: 4rem;
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  .card {
    padding: 4rem;
  }
}
